body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

#main header {
    background: #333;
    color: white;
    height: 80px;
}
     #main header a {
         color: white;
     }

#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
    #logo-header:hover {
        color: #598ea7;
    }
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }

nav {
    float: right;
}
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 20px;
    }
        nav ul li {
            display: inline-block;
            line-height: 80px;
        }
            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }
                nav ul li a:hover {
                    background: #94b6c5;
                }

.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 40%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}

.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch--input--wrapper {
    padding: 0 66px 0 0;
    overflow: hidden;
}

.flexsearch--input {
    width: 100%;
}

.flexsearch {
    padding: 0 25px 0 200px;
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 0 45px 0 10px;
    border-color: #888;
    border-radius: 35px;
    border-style: solid;
    border-width: 5px;
    margin-top: 15px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    margin-top: 20px;
    margin-right: 5px;
    background: transparent;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333;
}

.flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder {
    color: #888;
}

.h1 {
    float: left;
    margin: 25px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}
